<ng-container *ngIf="notifications.length > 0; else noNotifications">
  <div *ngFor="let notification of notifications.slice(0, 1)"
       class="alert  shadow-sm"
       [ngClass]="notification.IsRead ? 'alert-secondary ' : 'alert-light '"
       role="alert"
       style="animation: fade-in 0.3s ease-in-out;">

    <div class="d-flex justify-content-between align-items-start">
      <div class="flex-grow-1 pe-3">
        <strong class="fs-6">{{ notification.Message }}</strong>
        <div class="mt-1">
          <small class="text-muted">📅 {{ notification.CreatedAt | date:'dd/MM/yyyy HH:mm' }}</small>
        </div>
      </div>

      <button type="button"
              class="btn-close"
              aria-label="Close"
              (click)="markAsRead(notification.NotificationId)">
      </button>
    </div>

    <div class="mt-2 ">
      <a [routerLink]="['/inspection']"
         [queryParams]="{ id: notification.NotificationId }"
         (click)="markAsRead(notification.NotificationId)"
         class="btn btn-sm btn-outline-success rounded-pill px-3 fw-semibold">
        🔍 ตรวจรับที่นี่
      </a>
    </div>
  </div>
</ng-container>

<ng-template #noNotifications>
  <!-- <div class="text-center text-muted">
    📭 ไม่มีการแจ้งเตือนในขณะนี้
  </div> -->
</ng-template>


