<div class="card mb-4 shadow-sm" style="border: none">
    <div class="card-body">

      <h1>
        <span class="anuphan-700">บันทึกรายการโอนย้าย</span>
      </h1>

      <hr />

      <div class="card" style="border: none">

        <div class="card-body">

          <form [formGroup]="assetTransferForm" (submit)="onSubmit()">
            <div class="row mb-3">
              
              <div class="col">
                <label class="form-label" for="assetCode">รหัสครุภัณฑ์</label>
                <mat-select
                  class="form-control p-3"
                  id="assetCode"
                  formControlName="AssetId"
                  placeholder="เลือกครุภัณฑ์"
                >
                  <!-- ส่วนค้นหาใน mat-select -->
                  <mat-option>
                    <ngx-mat-select-search [formControl]="assetdataFilterCtrl"></ngx-mat-select-search>
                  </mat-option>
          
                  <!-- แสดงรายการตัวเลือกของครุภัณฑ์ -->
                  <mat-option *ngFor="let asset of filteredAssetData | async" [value]="asset.assetId">
                    {{ asset.assetCode }} {{ asset.assetName }}
                  </mat-option>
                </mat-select>
              </div>

              <div class="col">
                <label class="form-label" for="Date">วันที่โอนย้าย</label>
                <input type="date" id="Date" formControlName="Date" class="form-control p-3" />
              </div>
          
              <div class="col">
                <label class="form-label" for="ReferenceNumber">Reference Number</label>
                <input type="text" id="ReferenceNumber" formControlName="ReferenceNumber" class="form-control p-3" />
              </div>

            </div>
            
            <div class="row mb-3">
              <div class="col">
                <label class="form-label" for="TransferredFrom">โอนย้ายจาก</label>
                <input type="text" id="TransferredFrom" formControlName="TransferredFrom" class="form-control p-3" />
              </div>
          
              <div class="col">
                <label class="form-label" for="TransferredTo">โอนย้ายไปที่</label>
                <input type="text" id="TransferredTo" formControlName="TransferredTo" class="form-control p-3" />
              </div>
            </div>
          
            <div class="row mb-3">
          
              <div class="col">
                
                <label class="form-label" for="Note">หมายเหตุ</label>
                <input id="Note" formControlName="Note" class="form-control p-3" />
              </div>
              
              <div class="col">
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              
          
              <!-- <div class="col">
                <label class="form-label" for="AssetName">Asset Name</label>
                <input type="text" id="AssetName" formControlName="AssetName" class="form-control p-3" />
              </div> -->
          
              <!-- <div class="col">
                <label class="form-label" for="Quantity">Quantity</label>
                <input type="number" id="Quantity" formControlName="Quantity" class="form-control p-3" />
              </div> -->
            </div>
          
           
          
            
          </form>
          

        </div>
      </div>

      

</div>
