<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container
    [fluid]="true"
    class=""
    style="border: none;background-color: #30906a"
  >
    <c-header-nav class="d-none d-md-flex" style="width: fit-content">
      <button
        [cSidebarToggle]="sidebarId"
        cHeaderToggler
        toggle="visible"
        style="margin-inline-start: -14px"
      >
        <svg
          cIcon
          name="cilMenu"
          size="lg"
          style="color: rgb(255, 255, 255)"
        ></svg>
      </button>

      <c-nav-item *ngIf="userinfo.affiliation === 'กกต'">
        <a
          cNavLink
          class="anuphan-700"
          style="font-size: large; color: rgb(255, 255, 255)"
        >
          สำนักงานคณะกรรมการการเลือกตั้ง{{ this.showCounty }} ({{ userinfo.workgroup }})
        </a>
      </c-nav-item>

      <c-nav-item *ngIf="userinfo.affiliation !== 'กกต'">
        <a
          cNavLink
          class="anuphan-700"
          style="font-size: large; color: rgb(255, 255, 255)"
        >
          สำนักงานคณะกรรมการการเลือกตั้งส่วนภูมิภาค {{ this.showCounty }} ({{
            this.userinfo.affiliation
          }})
        </a>
      </c-nav-item>

      <!-- <c-nav-item>
        <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLink="/settings" routerLinkActive="active">Settings</a>
      </c-nav-item> -->
    </c-header-nav>

    <c-header-nav class="d-none d-md-flex ms-auto d-flex align-items-center">
      <!-- <a cNavLink class="m-1 text-white" style="text-decoration: none;">
        <svg [cIcon]="icons.cilUser"></svg>
        <span style="font-size: 14px;">
            คุณ {{userinfo.Sname}} {{userinfo.Lname}}  
            {{ userinfo['http://schemas.microsoft.com/ws/2008/06/identity/claims/role'] }}
        </span>
      </a> -->

      <button class="btn btn-danger btn-sm shadow-sm m-0" (click)="Logout()">
        <svg [cIcon]="icons.cilAccountLogout" style="color: white"></svg>
      </button>
    </c-header-nav>

    <!-- <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav> -->

    <c-header-nav class="mx-0">
      <!-- <ng-container *ngTemplateOutlet="userDropdown" /> -->
    </c-header-nav>
  </c-container>

  <!-- <c-container  [fluid]="true" class="" style="border: none; ">
    <c-breadcrumb-router  />
    <c-header-nav >
      <div class="card">
        <div class="card-body">
ss
        </div>
      </div>
    </c-header-nav>
    
  </c-container> -->
</ng-container>
<!--</c-header>-->

<!-- <ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle>
      @switch (colorMode()) {
        @case ("dark") {
          <svg cIcon name="cilMoon" size="lg"></svg>
        }
        @case ("auto") {
          <svg cIcon name="cilContrast" size="lg"></svg>
        }
        @default {
          <svg cIcon name="cilSun" size="lg"></svg>
        }
      }
    </button>
    <div cDropdownMenu>
      <button
        (click)="colorMode.set('light')"
        [active]="colorMode()==='light'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilSun" size="lg"></svg>
        Light
      </button>
      <button
        (click)="colorMode.set('dark')"
        [active]="colorMode()==='dark'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilMoon" size="lg"></svg>
        Dark
      </button>
      <button
        (click)="colorMode.set('auto')"
        [active]="colorMode()==='auto'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilContrast" size="lg"></svg>
        Auto
      </button>
    </div>
  </c-dropdown>
</ng-template> -->
