<div class="card shadow-sm" style="border: none;">
  <div class="card-body">

    <mat-tab-group class="m-1" mat-stretch-tabs="false" mat-align-tabs="start">

      <mat-tab>
        <ng-template mat-tab-label>
          <h3><span class="anuphan-700">รายละเอียดครุภัณฑ์</span></h3>
        </ng-template>
        <br />
        <div class="card" style="border: none;">
          <div class="card-body">

            <div class="row">
              <div class="col m-1">
                <div class="col">

                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 m-2">

                    <div class="col">
                      <img src="https://notebookspec.com/storage/desktop/468_BO.jpg" alt=""
                        class="img-fluid shadow-sm rounded h-100 border" style="object-fit: cover; ">
                    </div>

                    <div class="col">
                      <img class="shadow-sm w-100 border" src="{{ qrCodeUrl }}" alt="" />
                    </div>

                  </div>


                  <br />
                  <div class="m-1">
                    <!-- <h2 class="text-center">
                      <span class="anuphan-600">{{ assets.AssetCode }} {{ assets.Department }} ({{assets.agency}})<br />
                        {{ assets.AssetName }} 
                        <br />
                        ผู้คุมครุภัณฑ์ : {{ assets.ResponsibleEmployee }}</span>
                    </h2> -->
                  </div>

                </div>


                <table class="table table-striped table-hover">
                  <tbody class="border">

                    <tr>
                      <th class="border">ชื่อรายการ</th>
                      <th class="border">รายการ</th>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">รหัสครุภัณฑ์</th>
                      <td class="anuphan-500">{{ assets.AssetCode }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">แผนก</th>
                      <td class="anuphan-500">{{ assets.Department }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">ฝ่าย</th>
                      <td class="anuphan-500">{{ assets.Faction }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">ประเภท</th>
                      <td class="anuphan-500">{{ assets.Type }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">หมวดหมู่</th>
                      <td class="anuphan-500">{{ assets.Category }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>


              <div class="col">

                <table class="table table-striped table-hover">
                  <tbody class="border">
                    <tr>
                      <th class="border">ชื่อรายการ</th>
                      <th class="border">รายการ</th>
                    </tr>

                    <!-- รายการสำคัญ -->
                    <tr>
                      <th class="anuphan-600 border">สถานะ</th>
                      <td class="anuphan-500" style="color: green;">
                        <button class="btn btn-sm btn-success" style="color: white;">
                          {{ assets.StatusId }}
                        </button>
                      </td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">วันที่ได้มา</th>
                      <td class="anuphan-500">{{ convertDate(assets.PurchaseDate) }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">ค่าเสื่อมราคาสะสม</th>
                      <td class="anuphan-500">{{ calculateDepreciation() | number:'1.2-2' }} บาท</td>
                    </tr>

                    <!-- รายละเอียดทั่วไปของสินทรัพย์ -->
                    <tr>
                      <th class="anuphan-600 border">ราคาต่อหน่วย</th>
                      <td class="anuphan-500">{{ assets.PurchasePrice | number:'1.2-2' }} บาท</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">หน่วยนับ</th>
                      <td class="anuphan-500">{{ assets.Unit }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">อายุการใช้งาน</th>
                      <td class="anuphan-500">{{ assets.Servicelife }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">อัตตราค่าเสื่อม</th>
                      <td class="anuphan-500">{{ assets.Rate_dep }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">ซื้อจาก</th>
                      <td class="anuphan-500">{{ assets.PurchasedFrom }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">พนักงานที่รับผิดชอบ</th>
                      <td class="anuphan-500">{{ assets.ResponsibleEmployee }}</td>
                    </tr>

                    <!-- รายละเอียดเพิ่มเติม -->
                    <tr>
                      <th class="anuphan-600 border">เลขที่ใบกำกับภาษี</th>
                      <td class="anuphan-500">{{ assets.TaxInvoiceNumber }}</td>
                    </tr>

                    <tr>
                      <th class="anuphan-600 border">หมายเหตุ</th>
                      <td class="anuphan-500">{{ assets.Note }}</td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>

            <div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <h3>
            <span class="anuphan-700">
              ครุภัณฑ์ย่อย
            </span>
          </h3>
        </ng-template>
          <app-subasset />
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <h3>
            <span class="anuphan-700">
              ประวัติการใช้งาน
            </span>
          </h3>
        </ng-template>
          <app-history />
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <h3>
            <span class="anuphan-700">
              ประวัติการซ่อมแซม
            </span>
          </h3>
        </ng-template>
          <app-repair-history/>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>