<div class="card shadow-sm" style="border: none;">
    <div class="card-body">

        <h3 class="">
            <span 
                class="anuphan-700" 
                style="color: green;">
                ครุภัณฑ์ที่ซ่อมแซม
            </span>
        </h3>

        <hr/>

        <div style="display: block;">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [type]="'bar'">
            </canvas>
        </div>
         <br/>

          <button class="btn btn-sm btn-outline-success w-100 anuphan-400" >ดูข้อมูลทั้งหมด</button>
          
    </div>
</div>