<div class="card shadow-sm" style="border: none;">
    <div class="card-body">
        <h3 class="border-bottom">
            <span class="anuphan-700" style="color: green;">ครุภัณฑ์ที่ซ่อมแซม</span>
        </h3>

        <div style="display: block;">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [type]="'bar'">
            </canvas>
          </div>
          
          
    </div>
</div>