<!-- defaultdata.component.html -->

<c-card class="mb-4 shadow-sm" style="border: none;">
  <c-card-body>
    <h1><span class="anuphan-700">กำหนดรหัสแผนก / สำนัก </span></h1>
    <hr />

    <div *ngIf="isFormVisible">
      <form (submit)="postAssetType(sectionCodeInput.value, sectionNameInput.value); $event.preventDefault()" cForm>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3 m-1">

          <div class="col">
            <label cLabel for="sectionCodeInput">รหัสแผนก</label>
            <input #sectionCodeInput cFormControl id="sectionCodeInput" placeholder="ระบุรหัสแผนก" class="form-control"
              type="text" required />
          </div>
          <div class="col">
            <label cLabel for="sectionNameInput">ชื่อแผนก</label>
            <input #sectionNameInput cFormControl id="sectionNameInput" placeholder="ระบุชื่อแผนก" class="form-control"
              type="text" required />
          </div>
          <div class="col align-self-end">
            <button type="submit" class="btn btn-primary">เพิ่ม</button>
          </div>
        </div>
      </form><br />
    </div>

    <div class="d-flex justify-content-between align-items-center m-1 mb-3">
      <!-- ปุ่มเพิ่มข้อมูล -->
      <button class="btn btn-sm btn-outline-success anuphan-500" (click)="isFormVisible = !isFormVisible"
        style="color: green">
        + เพิ่มข้อมูล
      </button>

      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[30, 50, 70, 100]" [pageSize]="15" showFirstLastButtons>
      </mat-paginator>
    </div>


    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-hover ">
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">

          <th mat-header-cell *matHeaderCellDef class="border" style="font-weight: bold;">#</th>

          <td mat-cell *matCellDef="let asset" class="border" style="width: 10%;">

            <button class="btn btn-sm btn-warning m-1" (click)="editAsset(asset)">
              <svg [cIcon]="icons.cilPencil" style="color: white; width: 16px; height: 16px;"></svg>
            </button>

            <button class="btn btn-sm btn-danger m-1" (click)="deleteAsset(asset)">
              <svg [cIcon]="icons.cilTrash" style="color: white; width: 16px; height: 16px;"></svg>
            </button>
          </td>
        </ng-container>

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of displayedColumns2" [matColumnDef]="column">

          <th mat-header-cell *matHeaderCellDef mat-sort-header class="anuphan-700 border" style="font-weight: bold;">
            {{ column }}
          </th>

          <td mat-cell *matCellDef="let asset" class=" anuphan-500 border">
            {{ asset[column] }}
          </td>

        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="['actions', 'รหัสแผนก', 'ชื่อแผนก']"></tr>

        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: ['actions', 'รหัสแผนก', 'ชื่อแผนก'];"></tr>

      </table>

      
    </div>


  </c-card-body>
</c-card>