<div class="min-vh-100 d-flex flex-row align-items-center" style="background-color: #30916b;">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="12" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>

              <form cForm (submit)="login($event, username.value, password.value)">
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" type="email" #username required/>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    required
                    #password
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton type="submit" class="px-4" color="primary" style="background-color: #30916b;" >
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>

            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white  py-5">
            <c-card-body class="text-center">
              <img src="https://party.ect.go.th/themes/ect-pr/assets/images/logo_ect_big.png" height="200" alt="ss"
                 />
              <br />
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
