<div class="card border shadow-sm">

  <div class="card-body">

    <h3 class="border-bottom">
      <span class="anuphan-700" style="color: green;">รายละเอียดครุภัณฑ์ที่ครอบครอง</span>
    </h3>

    <div class="chart-container">
      
      <!-- <h2 class="anuphan-700" style="color: green;">
        {{ selectedCategory ? 'หมวดหมู่ครุภัณฑ์: ' + selectedCategory : 'ภาพรวมครุภัณฑ์' }}
      </h2> -->
    
      <button *ngIf="selectedCategory" (click)="goBack()" class="btn btn-primary">ย้อนกลับ</button>
    
      <canvas baseChart 
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [type]="'pie'"
        (chartClick)="onChartClick($event)">
      </canvas>
    </div>
    
    

    
    <br/>
    <button class="btn btn-sm btn-outline-success w-100 anuphan-400">ดูข้อมูลทั้งหมด</button>
  
  </div>
</div>