<div class="card shadow-sm" style="border: none">
  <div class="card-body">
    <h3>
      <span class="anuphan-700" style="color: green"
        >สำนักมีครุภัณฑ์จำนวน</span>
    </h3>
     <hr/>
     <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      <br/>
    <div class="table-responsive m-1 p-1">
      <table mat-table [dataSource]="dataSource" class="table table-striped">
        <ng-container matColumnDef="Faction">
          <th mat-header-cell *matHeaderCellDef class="border"> ฝ่าย </th>
          <td mat-cell *matCellDef="let row" class="border"> {{ row.faction }} </td>
        </ng-container>
      
        <ng-container matColumnDef="ResponsibleEmployee">
          <th mat-header-cell *matHeaderCellDef class="border"> ผู้ใช้งาน </th>
          <td mat-cell *matCellDef="let row" class="border"> {{ row.responsibleEmployee }} </td>
        </ng-container>
      
        <ng-container matColumnDef="AssetCount">
          <th mat-header-cell *matHeaderCellDef class="border"> จำนวนครุภัณฑ์ </th>
          <td mat-cell *matCellDef="let row" class="border"> {{ row.assetCount }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
      </table>
      
      
      <button class="btn btn-sm btn-outline-success w-100 anuphan-400">ดูข้อมูลทั้งหมด</button>

    </div>
  </div>
</div>
