<c-card class="mb-4 shadow" style="border: none">
  <c-card-body>
    <h1><span class="anuphan-700">รายละเอียดครุภัณฑ์</span></h1>
    <hr />

    <div class="row">
      <div class="col-2 m-1">
        <img src="{{ qrCodeUrl }}" />
      </div>

      <div class="col">
        <h3>
          <span class="anuphan-600"
            ><strong>รหัสครุภัณฑ์</strong> : {{ assets.assetCode }}
          </span>
        </h3>

        <h3>
          <span class="anuphan-600"
            ><strong>ชื่อครุภัณฑ์</strong> : {{ assets.assetName }}</span
          >
        </h3>

        <h3>
          <span class="anuphan-600"
            ><strong>ราคาต่อหน่วย</strong>: {{ assets.purchasePrice }}</span
          >
        </h3>

        <h3>
          <span class="anuphan-600"
            ><strong>วันที่ได้มา</strong> : {{ assets.purchaseDate }}
          </span>
        </h3>

        <h3>
          <span class="anuphan-600"
            ><strong>เลขที่เอกสาร</strong> : {{ assets.documentNumber }}</span
          >
        </h3>
      </div>
    </div>
  </c-card-body>
</c-card>
