<div class="card" style="border: none;">
  <div class="card-body">
    <br />
    <h1><span class="anuphan-700">ประวัติการแก้ไขและใช้งาน</span></h1>
    <hr />
    <div *ngIf="data && data.length">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="anuphan-700">
            <!-- <th class="border">ID</th> -->
            <!-- <th class="border">Asset ID</th> -->
            <th class="border"></th>

            <th class="border">วันที่แก้ไข</th>

            <th class="border">รายการที่แก้ไข</th>

            <th class="border">ข้อมูลเดิม</th>

            <th class="border">ข้อมูลใหม่</th>

            <th class="border">Modified By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="anuphan-500" *ngFor="let item of data">

            <td class="border"><svg [cIcon]="icons.cilPencil"></svg></td>

            <td class="border">{{ convertDate(item.ModifiedDate) }}</td>

            <!-- <td class="border">{{ item.propertyName }}</td> -->

            <td class="border" *ngIf="item.propertyName !== 'AssetLocation'">{{ item.PropertyName }}</td>

            <td class="border" *ngIf="item.propertyName === 'AssetLocation'">ที่อยู่ครุภัณฑ์</td>

            <td class="border">{{ item.OldValue }}</td>

            <td class="border">{{ item.NewValue }}</td>

            <td class="border">{{ item.ModifiedBy }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!data || !data.length">
      <span class="anuphan-700">ขณะนี้ยังไม่มีการเคลื่อนย้ายครุภัณฑ์</span>
    </div>

  </div>
</div>