<div class="card mb-4 shadow-sm" style="border: none">
    <div class="card-body">
      <h1>
        <span class="anuphan-700">บันทึกรายการโอนย้าย</span>
      </h1>
      <hr />
      <div class="card" style="border: none">
        <div class="card-body">
          <form cForm (submit)="onSubmit()">

            <div class="row mb-3">

                <div class="col">
                
                    <div class="row ">
                        <div class="col">
                        <label cLabel for="assetCode">รหัสครุภัณฑ์</label>
                        <mat-select
                            class="form-control p-3"
                            id="assetCode"
                            [(ngModel)]="asset.assetId"
                            name="assetCode"
                            placeholder="เลือกครุภัณฑ์"
                            #singleSelect
                        >
                            <mat-option>
                            <ngx-mat-select-search [formControl]="assetdataFilterCtrl">
                            </ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                            *ngFor="let asset of filteredAssetData | async"
                            [value]="asset.assetId"
                            >
                            {{ asset.assetCode }} {{ asset.assetName }}
                            </mat-option>
                        </mat-select>
                        </div>
                    
                        <div class="col-2 d-flex ">
                        <button
                            type="button"
                            class="btn btn-success anuphan-600 p-2"
                            style="color: white"
                            (click)="startScanner = true"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 50px;">
                            <path fill="#ffffff" d="M0 224h192V32H0v192zM64 96h64v64H64V96zm192-64v192h192V32H256zm128 128h-64V96h64v64zM0 480h192V288H0v192zm64-128h64v64H64v-64zm352-64h32v128h-96v-32h-32v96h-64V288h96v32h64v-32zm0 160h32v32h-32v-32zm-64 0h32v32h-32v-32z"/>
                            </svg>
                            <!-- QR-code -->
                        </button>
                        </div>
                    </div>

                </div>
                
  
              <div class="col">
                <label cLabel for="assetCodeInput">เลขที่เอกสาร</label>
                <input
                  cFormControl
                  name="SerialNumber"
                  id="assetCodeInput"
                  placeholder="เลขที่เอกสาร"
                  class="form-control p-3"
                  type="text"
                  [(ngModel)]="asset.SerialNumber"
                  required
                />
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col">
                <label cLabel for="assetCodeInput">รายละเอียด</label>
                <input
                  cFormControl
                  name="Description"
                  id="assetCodeInput"
                  placeholder="ระบุรายละเอียด"
                  class="form-control p-3"
                  type="text"
                  [(ngModel)]="asset.Description"
                  required
                />
              </div>
  
              <div class="col">
                <label cLabel for="assetCodeInput">จำนวนเงิน</label>
                <input
                  cFormControl
                  name="Amount"
                  id="assetCodeInput"
                  placeholder="ระบุจำนวนเงิน"
                  class="form-control p-3"
                  type="text"
                  [(ngModel)]="asset.Amount"
                  required
                />
              </div>
  
              <div class="col align-self-end">
                <button
                  cButton
                  class="anuphan-600"
                  type="submit"
                  color="success"
                  style="color: white"
                >
                  ดำเนินการ
                </button>
              </div>
            </div>
  
          </form>
        </div>
      </div>

      <div *ngIf="startScanner">
        <zxing-scanner 
          [device]="selectedDevice"
          (scanSuccess)="onScanSuccess($event)" 
          [formats]="allowedFormats"
          [autostart]="true">
        </zxing-scanner>
      </div>

      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="table table-striped table-hover border"
        >
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th class="border" mat-header-cell *matHeaderCellDef style="font-weight: bold">#</th>
            <td mat-cell *matCellDef="let asset">
              <button
                class="btn btn-sm btn-warning m-1"
                (click)="editAsset(asset)"
                style="width: 28px; height: 28px; padding: 4px"
              >
                <svg
                  [cIcon]="icons.cilPencil"
                  style="color: white; width: 100%; height: 100%"
                ></svg>
              </button>
  
              <button
                class="btn btn-sm btn-danger m-1"
                (click)="deleteAsset(asset)"
                style="width: 28px; height: 28px; padding: 4px"
              >
                <svg
                  [cIcon]="icons.cilTrash"
                  style="color: white; width: 100%; height: 100%"
                ></svg>
              </button>
            </td>
          </ng-container>
  
          <!-- Dynamic Columns -->
          <ng-container
            *ngFor="let column of displayedColumns2"
            [matColumnDef]="column"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="border"
              style="font-weight: bold"
            >
              {{ column }}
            </th>
            <td mat-cell class="border" *matCellDef="let asset">{{ asset[column] }}</td>
          </ng-container>
  
          <!-- Header Row -->
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'actions',
              'รหัสครุภัณฑ์',
              'รายการครุภัณฑ์',
              'เลขที่เอกสาร',
              'รายละเอียด',
              'จำนวนเงิน'
            ]"
          ></tr>
  
          <!-- Data Rows -->
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'actions',
                'รหัสครุภัณฑ์',
                'รายการครุภัณฑ์',
                'เลขที่เอกสาร',
                'รายละเอียด',
                'จำนวนเงิน'
              ]
            "
          ></tr>
        </table>
  
        <!-- Paginator -->
        <mat-paginator
          [pageSizeOptions]="[30, 50, 70, 100]"
          [pageSize]="15"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      </div>

</div>