<app-widgets-dropdown />

<div class="row">
  <div class="col-8">
    <br />
    <app-tablewiget />
  </div>

  <div class="col-4">
    <br />

    <div class="col">
      <app-tablewiget2 />
    </div>

    
  </div>
  <div class="row">
    <div class="col">
      <br />
      <app-tablewiget3 />
    </div>
    
    <div class="col">
      <br />
      <app-tablewiget4 />
    </div>
  </div>
  
    
  
  


</div>
<br />
<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>


  

