// table {table-layout: fixed;}
  


// .paginator-style {
//   background: transparent;
//   color: black;
// }
// /* เพิ่มสีให้กับปุ่ม "Items per page" */
// mat-paginator-page-size-label {
//   color: black; /* กำหนดสีของตัวอักษร */
//   font-weight: bold; /* กำหนดตัวหนา */
// }

// /* เพิ่มสีพื้นหลังให้กับปุ่ม "Items per page" */
// mat-select-panel {
//   background-color: #ffffff; /* กำหนดสีพื้นหลัง */
// }


// table tbody tr:hover td {
//     background-color: #f5f5f5; /* สีพื้นหลังเมื่อเม้าส์ผ่านข้างเหนือแถว */
//   }

// .th {
//     border: 1px solid #ddd; /* เพิ่มเส้นขอบในคอลัมน์ส่วนหัว */
//     background-color: whitesmoke; /* สีพื้นหลังส่วนหัวคอลัมน์ */
//   }
  
// table tbody tr td {
//     border: 1px solid #ddd; /* เพิ่มเส้นขอบในเซลล์ข้อมูล */
//   }
// .table tbody tr:hover {
//     background-color: #f5f5f5; /* เปลี่ยนสีพื้นหลังเมื่อเม้าส์ผ่านข้างเหนือ */
//     cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นแถวเมื่อผู้ใช้เรียกดู */
//   }
  
//   .table tbody tr:hover td {
//     border: 1px solid #ddd; /* เพิ่มเส้นขอบเมื่อผู้ใช้เรียกดู */
//   }

.swal-btn-green {
    background-color: #198754 !important; // เขียว Bootstrap
    color: white !important;
    border: none !important;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Prompt', sans-serif;
    transition: all 0.2s ease-in-out;
  }
  
  .swal-btn-green:hover {
    background-color: #157347 !important;
    transform: scale(1.05);
  }
  
  