<div class="card card-custom mb-3 shadow-sm">

  <div class="card-body">

    <div class="border-bottom set-layout">

      <div style="margin-right: auto">

        <h1><span class="anuphan-700">บันทึกรายการครุภัณท์</span></h1>

      </div>

      <p>
        นำเข้าข้อมูล :
        <button class="btn btn-sm btn-outline-success anuphan-600" type="button" (click)="openUploadDialog()">

          <div class="icon-excel"></div> Excel
        </button>
      </p>

    </div>

    <div class="card" style="border: none">

      <div class="card-body">

        <h3><span class="anuphan-700">ข้อมูลครุภัณฑ์</span></h3>

        <form *ngIf="asset" cForm [formGroup]="asset" (ngSubmit)="autoInput(); onSubmit()">

          <div class="p-2">

            <div class="row mb-3 row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-3">

              <div class="col">
                <label class="form-label" style="font-weight: bold;" for="assetTypeInput">
                  <span class="text-danger">*</span> ประเภทครุภัณฑ์
                </label>
                <div class="form-control">
                  <mat-select formControlName="TypeId" panelClass="mat-select-panel" placeholder="เลือกประเภทครุภัณฑ์"
                    style="font-family: 'Anuphan', sans-serif; font-weight: 600">
                    <mat-option class="anuphan-700" *ngFor="let type of assetTypes" [value]="type.TypeId">
                      <span class="anuphan-600">
                        {{ type.TypeCode }} : {{ type.TypeName }}
                      </span>
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <!-- หมวดหมู่ครุภัณฑ์ -->
              <div class="col">
                <label class="form-label" style="font-weight: bold;" for="assetCategoryInput">
                  <span class="text-danger">*</span> หมวดหมู่ครุภัณฑ์
                </label>
                <div class="form-control ">

                  <ng-container *ngIf="asset.get('TypeId')?.value; else alertSelect">
                    <mat-select formControlName="CategoryId" placeholder="เลือกหมวดหมู่ครุภัณฑ์"
                      panelClass="mat-select-panel" style="font-family:Anuphan,sans-serif; font-weight:600">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="ค้นหาหมวดหมู่" noEntriesFoundLabel="'ไม่พบข้อมูล'"
                          [formControl]="assetCategoryFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>

                      <mat-option *ngFor="let category of filteredAssetCategories | async"
                        [value]="category.CategoryId">
                        {{ category.CategoryCode }} : {{ category.CategoryName }}
                      </mat-option>
                    </mat-select>
                  </ng-container>

                  <ng-template #alertSelect>
                    <mat-select disabled placeholder="เลือกหมวดหมู่ครุภัณฑ์" panelClass="mat-select-panel"
                      (click)="showAlert()" (keydown)="handleKeyDown($event)"
                      style="font-family:Anuphan,sans-serif; font-weight:500">
                    </mat-select>
                  </ng-template>





                </div>

              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="purchaseDateInput">
                  วันเดือนปีที่ได้มา
                </label>

                <div class="input-group">

                  <input cFormControl class="form-control" id="purchaseDateInput" formControlName="PurchaseDate"
                    placeholder="เลือกวันที่" style="font-family:Anuphan,sans-serif;
                        font-optical-sizing:auto;font-weight:500;
                        font-style:normal" readonly (dateChange)="onDateChange2($event)" [matDatepicker]="picker1" />

                  <button class="btn btn-secondary input-group-text" type="button" (click)="picker1.open()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-calendar-event" viewBox="0 0 16 16">
                      <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                      <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                    </svg></button>

                  <mat-datepicker #picker1></mat-datepicker>
                </div>

              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="receiptDateInput">
                  <span class="text-danger">*</span> วันที่ได้รับ
                  <span style="opacity: 50%">(ใช้คำนวณค่าเสื่อม)</span>
                </label>

                <div class="input-group">
                  <input formControlName="ReceiptDate" class="form-control" id="receiptDateInput"
                    placeholder="เลือกวันที่" readonly [matDatepicker]="picker2" (dateChange)="onDateChange($event)"
                    style="font-family:Anuphan,sans-serif;
                        font-optical-sizing:auto;font-weight:500;
                        font-style:normal" />
                  <button class="btn btn-secondary input-group-text" type="button" (click)="picker2.open()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-calendar-event" viewBox="0 0 16 16">
                      <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                      <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                    </svg></button>

                  <mat-datepicker #picker2></mat-datepicker>
                </div>

              </div>

            </div>

            <!-- ######## line 1 ############ -->
            <div class="row mb-3 row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-3">

              <div class="col">
                <label class="form-label" style="font-weight: bold;" for="assetCodeInput">
                  <span class="text-danger">*</span> รหัสครุภัณฑ์ (แก้ได้ -001-)
                </label>

                <input class="form-control" cFormControl id="assetCodeInput" placeholder="รหัสครุภัณฑ์"
                  formControlName="AssetCode" type="text" (input)="handleInput($event)"
                  (keydown)="handleKeyDown($event)" (keypress)="handleKeyPress($event, 'assetNameInput')" />

              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="assetNameInput">
                  <span class="text-danger">*</span> ชื่อครุภัณฑ์</label>

                <input class="form-control" cFormControl id="assetNameInput"
                  placeholder="ระบุชื่อ/ลักษณะ/ยี่ห้อ ครุภัณฑ์" formControlName="AssetName" type="text" style="font-family:Anuphan,sans-serif;
                    font-optical-sizing:auto;font-weight:400;
                    font-style:normal" (keypress)="handleKeyPress($event, 'quantityInput')" required />

              </div>

              <div class="col">
                <label class="form-label" style="font-weight: bold " for="agencyInput">
                  <span class="text-danger">*</span> หน่วยงาน / สำนักงาน
                </label>

                <div class="form-control">

                  <mat-select [(value)]="selectedFaction" formControlName="DepartmentId"
                    placeholder="เลือกหน่วยงาน สำนักงาน" (selectionChange)="onDepartmentChange($event)"
                    panelClass="mat-select-panel" style="font-family: 'Anuphan', 
                          sans-serif; font-weight: 600" #singleSelect>

                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="ค้นหาสถานที่" noEntriesFoundLabel="ไม่พบข้อมูล"
                        [formControl]="DepartmentFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let DepId of (filteredDepartment | async ) " [value]="DepId.DeptId">
                      <span class="anuphan-600">{{ DepId.Semin }} : {{ DepId.Name }}</span>
                    </mat-option>

                  </mat-select>

                </div>
              </div>

              <div class="col">
                <label class="form-label" style="font-weight: bold " for="departmentInput">
                  <span class="text-danger">*</span> ฝ่าย</label>

                <div class="form-control">

                  <mat-select formControlName="FactionId" placeholder="เลือกฝ่าย"
                    (selectionChange)="onFactionChange($event)" panelClass="mat-select-panel" style="font-family: 'Anuphan', 
                          sans-serif; font-weight: 600">

                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="ค้นหาสถานที่" noEntriesFoundLabel="ไม่พบข้อมูล"
                        [formControl]="factionsFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let faction of (filteredFactions | async)" [value]="faction.FactId">

                      <span class="anuphan-600">
                        {{ faction.Semin }} : {{ faction.Name }}
                      </span>
                    </mat-option>

                  </mat-select>

                </div>
              </div>

            </div>

            <div class="row mb-3 row-cols-1 row-cols-sm-3 row-cols-lg-4 g-3 g-lg-3">

              <div class="col">

                <label class="form-label" for="Unitsinput" style="font-weight: bold">
                  หน่วยนับ
                </label>

                <div class="form-control">

                  <mat-select formControlName="Unit" placeholder="เลือกหน่วยนับ" panelClass="mat-select-panel"
                    (selectionChange)="onUnitChange($event)" #singleSelect>

                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="ค้นหาหน่วยนับ" noEntriesFoundLabel="ไม่พบข้อมูล"
                        [formControl]="unitFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit.word">
                      {{ unit.word }}
                    </mat-option>
                  </mat-select>

                </div>
              </div>

              <div class="col">
                <label class="form-label" style="font-weight: bold;" for="EmployeeInput">
                  เจ้าหน้าประจำ
                </label>

                <input class="form-control " cFormControl id="EmployeeInput" placeholder="ระบุชื่อเจ้าหน้าที่"
                  formControlName="ResponsibleEmployee" type="text"
                  (keypress)="handleKeyPress($event, 'documentNumberInput')" />
              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="purchasePriceInput">
                  <span class="text-danger">*</span> ราคาซื้อ
                </label>

                <input class="form-control" cFormControl id="purchasePriceInput" placeholder="00.00"
                  formControlName="PurchasePrice" type="number" step="0.01" />

              </div>

              <div class="col">
                <label class="form-label" style="font-weight: bold;" for="quantitySelect">
                  จำนวนข้อมูลที่จะบันทึก
                </label>

                <div class="form-control">
                  <mat-select formControlName="numberOfCopies">
                    <mat-option *ngFor="let num of options" [value]="num">{{ num }}</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <h3>
              <a class="bt" (click)="toggleForm()">
                <span class="anuphan-600">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-right-fill icon" viewBox="0 0 16 16">
                    <path
                      d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                  </svg>
                  เพิ่มข้อมูลเพิ่มเติม
                </span>
              </a>
            </h3>

            <h3>
              <a class="bt2" (click)="addSubAsset()">
                <span class="anuphan-600">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-right-fill icon" viewBox="0 0 16 16">
                    <path
                      d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                  </svg>
                  เพิ่มครุภัณฑ์ย่อย
                </span>
              </a>
            </h3>

            <div *ngIf="showForm" class="row mb-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 g-lg-3">

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="purchasedFromInput">ซื้อจาก
                </label>

                <!-- ปรับเป็นยัง Form แบบ บันทึก สอง แบบ แบบ id กับ แบบ string อัตโนมัติ -->
                <input class="form-control" cFormControl id="purchasedFromInput" placeholder="ระบุสถานที่ที่ซื้อ"
                  formControlName="PropertySeller" type="text" (keypress)="handleKeyPress($event,'assetTypeInput')" />

              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="taxInvoiceNumberInput">เลขที่ใบกำกับภาษี
                  <span style="opacity: 50%">(ถ้ามี)</span></label>

                <input class="form-control " cFormControl id="taxInvoiceNumberInput" placeholder="ระบุเลขที่ใบกำกับภาษี"
                  type="text" formControlName="TaxInvoiceNumber" />

              </div>

              <div class="col">

                <label class="form-label" style="font-weight: bold;" for="annotationInput">
                  หมายเหตุ <span style="opacity: 50%">(ถ้ามี)</span>
                </label>

                <input class="form-control" cFormControl id="annotationInput" placeholder="ระบุหมายเหตุ"
                  formControlName="Note" type="text" />

              </div>

            </div>

            <div formArrayName="SubAssets">
              <div
                *ngFor="let control of subAssets.controls; let i = index"
                class="mb-3"
              >
                <app-sub-asset-form
                  [subAssetForm]="getSubAssetForm(i)"
                  [index]="i"
                  [onRemove]="removeSubAsset"
                ></app-sub-asset-form>
              </div>
            </div>
          </div>

          <app-depreciation-preview [formGroup]="asset"></app-depreciation-preview>



          <div class="text-end d-grid gap-2 d-md-flex justify-content-md-end">


            <button cButton class="anuphan-600" type="submit" color="success" style="color: white">
              ดำเนินการ
            </button>

          </div>
        </form>


      </div>
    </div>

  </div>

</div>