<app-notification />
<h2 class="anuphan-700" style="color: green;">Dashboard</h2>
<app-widgets-dropdown /><br/>
  <div class="row mb-3">
    <div class="col">
      <app-tablewiget />
    </div>
    
    <div class="col-4">
      <app-tablewiget3 />
    </div>
  </div>

  <br />
  <div class="row">
    
    <div class="col">
      <app-tablewiget4 />
    </div>
    
    <div class="col">
      <app-tablewiget2 />
    </div>

  </div>
  
<br />
<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>


  

