<app-widgets-dropdown />

  <div class="row">
    <div class="col-8">
      <br />
      <!-- <app-tablewiget /> -->
       <app-asset-table/>
    </div>

    <div class="col-4">
      <br />
      <div class="col">
        <app-tablewiget5 />
        
      </div>
    </div>
  </div>

  <br />
  <div class="row">

    <div class="col">
      <app-tablewiget3 />
    </div>
    
    <div class="col">
      <app-tablewiget4 />
    </div>
    
    <div class="col">
      <app-tablewiget2 />
    </div>

  </div>
  
<br />
<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>


  

