<c-card class="shadow-sm" >
    <c-card-header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <strong style="margin-right: auto;" style="color: green;">รายละเอียดครุภัฑณ์ล่าสุด3</strong>
        </div>
    </c-card-header>

    <c-card-body>
            <div class="table-responsive">
                <!-- <table class="table 
                    table-striped table-hover" 
                    style="font-size: 14px; 
                    width: max-content;"
                    mat-table matSort
                    [dataSource]="dataSource">

                    <ng-container matColumnDef="Aactions">
                        <th class="" mat-header-cell *matHeaderCellDef 
                            style="color: black;font-weight: bold;font-size: 13px;"> # </th>
                        <td mat-cell *matCellDef="let asset" >
                            <button class="btn btn-sm btn-primary m-1" 
                                 style="width: 28px;height: 28px; padding: 2px;">
                                 <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="currentColor" 
                                    class="bi bi-eye" 
                                    viewBox="0 0 16 16" 
                                    style="color: white; width: 100%; height: 100%;"
                                    >
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 
                                    4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 
                                    1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                  </svg>
                                
                            </button>
                        </td>
                    </ng-container>
            
                    <ng-container *ngFor="let column of displayedColumns2" [matColumnDef]="column" >
                        <th class="mat-header-cell" 
                            mat-header-cell 
                            *matHeaderCellDef 
                            mat-sort-header 
                            style="color: black; 
                            font-weight:bold;
                            font-size: 13px;"> {{ column }} </th>
                        <td mat-cell 
                            *matCellDef="let asset" 
                            style="font-size: 12.5px;"> 
                            {{ column === 'ราคาต่อหน่วย' ? (asset[column] | currency:'':'':'1.2-2') : asset[column] }} 
                        </td>
                    </ng-container>
                                        
                    <tr mat-header-row 
                    *matHeaderRowDef="[
                        'Aactions', 
                        'วันเดือนปี', 
                        'รหัสครุภัณฑ์', 
                        'รายการ', 
                        'ราคาต่อหน่วย',  
                        'ฝ่าย', 
                        'ผู้ใช้งาน', 
                        'หมายเหตุ']">
                    </tr>
        
                    <tr mat-row *matRowDef="let row; columns: ['Aactions','วันเดือนปี', 'รหัสครุภัณฑ์', 'รายการ', 'ราคาต่อหน่วย',  'ฝ่าย', 'ผู้ใช้งาน', 'หมายเหตุ'];"></tr>

                </table> -->
                
                <table mat-table [dataSource]="dataSource">
                    <!-- Column definitions -->

                    <!-- <ng-container matColumnDef="assetType">
                      <th mat-header-cell *matHeaderCellDef> ประเภทครุภัณฑ์ </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{ element.assetType }} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef> หมวดหมู่ครุภัณฑ์ </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{ element.category }} </td>
                    </ng-container>

                    <ng-container matColumnDef="assetType">
                      <th mat-header-cell *matHeaderCellDef> ประเภทครุภัณฑ์</th>
                      <td mat-cell *matCellDef="let element"> 
                        {{ element.assetType }} </td>
                    </ng-container>

                    <ng-container matColumnDef="assetCount">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{ element.assetCount }} </td>
                    </ng-container>
                    
                    <!-- Table rows -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  

                <!-- Paginator -->
                <mat-paginator 
                    [length]="dataSource.data.length" 
                    [pageSizeOptions]="[5,10, 50, 100]"
                    showFirstLastButtons  
                    aria-label="Select page"  
                    class="paginator-style">
                </mat-paginator>
                
            </div>
    </c-card-body>
  </c-card>