<!-- defaultdata.component.html -->
<div class="card  shadow" style="border: none">
  <div class="card-body">
    <h1><span class="anuphan-700">กำหนดหมวดหมู่ครุภัณท์</span></h1>
    <hr />

    <div *ngIf="isFormVisible">
      <form cForm (ngSubmit)="onSubmit()">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3 m-1">
          <div class="col">
            <label cLabel for="assetCodeInput">รหัสหมวดหมู่ครุภัณท์</label>
            <input cFormControl id="assetCodeInput" placeholder="ระบุรหัสหมวดสินทรัพย์" class="form-control" type="text"
              name="asc_name" [(ngModel)]="asset.asc_Code" required />
          </div>
          <div class="col">
            <label cLabel for="assetNameInput">ชื่อหมวดหมู่ครุภัณท์</label>
            <input cFormControl id="assetNameInput" placeholder="ระบุชื่อหมวดสินทรัพย์" class="form-control" type="text"
              name="asc_name" [(ngModel)]="asset.asc_name" required />
          </div>
          <div class="col">
            <label cLabel for="assetNameInput">รหัสประเภทครุภัณท์</label>
            <input cFormControl id="assetNameInput" placeholder="ระบุรหัสประเภทสินทรัพย์" class="form-control"
              type="text" name="AssetCode" [(ngModel)]="asset.AssetCode" required />
          </div>
          <div class="col align-self-end">
            <button class="btn btn-primary">เพิ่ม</button>
          </div>
        </div>
      </form>
    </div>

    <div class="d-flex justify-content-between align-items-center m-1 mb-3">
      <!-- ปุ่มเพิ่มข้อมูล -->
      <button class="btn btn-sm btn-outline-success anuphan-500" (click)="isFormVisible = !isFormVisible"
        style="color: green">
        + เพิ่มข้อมูล
      </button>

      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[30, 50, 70, 100]" [pageSize]="15" showFirstLastButtons>
      </mat-paginator>
    </div>



    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-hover">
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="anuphan-600" style="font-weight: bold">
            #
          </th>
          <td mat-cell class="border anuphan-600" *matCellDef="let asset" style="width: 10%;">
            <button class="btn btn-sm btn-warning m-1" (click)="editAsset(asset)">
              <svg [cIcon]="icons.cilPencil" style="color: white; width: 16px; height: 16px;"></svg>
            </button>

            <button class="btn btn-sm btn-danger m-1" (click)="deleteAsset(asset)">
              <svg [cIcon]="icons.cilTrash" style="color: white; width: 16px; height: 16px;"></svg>
            </button>
          </td>
        </ng-container>

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of displayedColumns2" [matColumnDef]="column">
          <th mat-header-cell class="anuphan-600 border " *matHeaderCellDef mat-sort-header
            [ngStyle]="{ 'width': column === 'actions' ? '8%' : 'auto', 'font-weight': 'bold' }">
            {{ column }}
          </th>
          <td mat-cell class="anuphan-500 border" *matCellDef="let asset"
            [ngStyle]="{ 'width': column === 'actions' ? '8%' : 'auto' }">
            {{ asset[column] }}
          </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row class="border anuphan-600" *matHeaderRowDef="[
            'actions',
            'รหัสหมวดสินทรัพย์',
            'ชื่อหมวดสินทรัพย์',
            'ชื่อประเภทสินทรัพย์'
          ]"></tr>

        <!-- Data Rows -->
        <tr mat-row class="border anuphan-600" *matRowDef="
            let row;
            columns: [
              'actions',
              'รหัสหมวดสินทรัพย์',
              'ชื่อหมวดสินทรัพย์',
              'ชื่อประเภทสินทรัพย์'
            ]
          "></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[30, 50, 70, 100]" [pageSize]="15" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>