// YourComponent.component.scss
/* Your custom CSS file */

.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1; }
  
  .fileUploadInput label {
    display: flex;
    align-items: center;
    color: setColor(primary, 0.5);
    background: setColor(white);
    transition: .4s ease;
    font-family: arial, sans-serif;
    font-size: .75em;
    font-weight: regular; }
    
  .fileUploadInput input {
    position: relative;
    z-index: 1;
    padding: 0 gap(m);
    width: 100%;
    height: 50px;
    border: 1px solid rgba(48, 144, 106);
    border-radius: 3px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    font-weight: regular; }
    .fileUploadInput input[type="file"] {
      padding: 0 gap(m); }
      .fileUploadInput input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
        margin-left: 10px;
        padding: 0;
        height: 50px;
        width: 0; }
        
  .fileUploadInput button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    line-height: 0;
    user-select: none;
    color: white;
    background-color: rgba(48, 144, 106);
    border-radius: 0 3px 3px 0;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 800; }
    
    .fileUploadInput button svg {
      width: auto;
      height: 50%; }


::ng-deep .mat-select-panel {
  margin-right: 25px;
}

.mat-select::placeholder{
  font-family: 'Anuphan', sans-serif;
  font-weight: 600;
}

.swal2-popup  {
  font-family: 'Anuphan', sans-serif;
  font-weight: 700;
  color: red;
}


.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
}
.hr-with-text hr {
  flex: 1;
  border: 0;
  border-top: 1px solid #000;
}
.hr-with-text span {
  padding: 0 10px;
}


.mat-form-field {
  // Adjust the appearance to make it look like Bootstrap's select input
  border: 1px solid #ced4da; // Border color
  border-radius: 4px; // Border radius
  padding: 0.375rem 0.75rem; // Padding
  background-color: #fff; // Background color
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Transition effect

  // Adjust the focus style
  &:focus-within {
    border-color: #80bdff; // Border color when focused
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Box shadow when focused
  }

  // Override the floating label style
  .mat-form-field-label {
    color: #495057; // Label color
  }

  // Override the placeholder style
  .mat-form-field-placeholder {
    color: #6c757d; // Placeholder color
  }

  // Override the underline style
  .mat-form-field-underline {
    display: none; // Hide the underline
  }

  // Override the outline style (optional)
  &.mat-focused .mat-form-field-outline-start,
  &.mat-focused .mat-form-field-outline-end {
    color: #80bdff; // Outline color when focused
  }
}
