<c-card class="mb-4 ">
    <c-card-header>
        <strong>บันทึกครุภัณท์</strong>
    </c-card-header>
    <c-card-body>
        <mat-tab-group >
        <mat-tab label="บันทึกครุภัณท์ 1" ><br/>
            <c-card class="mb-4" style="border: none;">
                <c-card-body>
                <!-- <app-docs-example href="forms/form-control"> -->
                    <form  cForm (submit)="onSubmit()">

                        <div class="row mb-3">
                            <div class="col">
                                <label cLabel  for="assetCodeInput">รหัสสินทรัพย์</label>
                                <input cFormControl  
                                    id="assetCodeInput"
                                    placeholder="ระบุรหัสสินทรัพย์"
                                    name="assetCode"
                                    type="text"
                                    [(ngModel)]="asset.assetCode" 
                                    (keyup)="autoInput($event)"
                                    (keypress)="handleKeyPress($event, 'assetNameInput')"
                                />
                            </div>
                            <div class="col">
                                <label cLabel  for="assetNameInput">ชื่อสินทรัพย์</label>
                                <input cFormControl  
                                    id="assetNameInput"
                                    placeholder="ระบุชื่อ/ลักษณะ/ยี่ห้อ สินทรัพย์"
                                    [(ngModel)]="asset.assetName" name="assetName"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'quantityInput')"
                                />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label cLabel  for="quantityInput">จำนวน</label>
                                <input cFormControl  
                                    id="quantityInput"
                                    placeholder="ระบุจำนวน"
                                    [(ngModel)]="asset.quantity" name="quantity"
                                    type="number"
                                    (keypress)="handleKeyPress($event, 'purchasedFromInput')"
                                />
                            </div>
                            <div class="col">
                                <label cLabel  for="purchasedFromInput">ซื้อจาก</label>
                                <input cFormControl  
                                    id="purchasedFromInput"
                                    placeholder="ระบุสถานที่ที่ซื้อ"
                                    [(ngModel)]="asset.purchasedFrom" name="purchasedFrom"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'assetTypeInput')"
                                />
                            </div>
                        
                            <div class="col">
                                <label cLabel  for="assetTypeInput">ประเภทสินทรัพย์</label>
                                <input cFormControl  
                                    id="assetTypeInput"
                                    placeholder="ระบุประเภทสินทรัพย์"
                                    [(ngModel)]="asset.assetType" name="assetType"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'assetCategoryInput')"
                                />
                            </div>
                            <div class="col">
                                <label cLabel  for="assetCategoryInput">หมวดหมู่สินทรัพย์</label>
                                <input cFormControl  
                                    id="assetCategoryInput"
                                    placeholder="ระบุหมวดหมู่สินทรัพย์"
                                    [(ngModel)]="asset.assetCategory" name="assetCategory"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'departmentInput')"
                                />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label cLabel  for="departmentInput">แผนก</label>
                                <input cFormControl  
                                    id="departmentInput"
                                    placeholder="ระบุแผนก"
                                    [(ngModel)]="asset.department" name="department"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'assetLocationInput')"
                                />
                            </div>
                            <div class="col">
                                <label cLabel  for="assetLocationInput">สถานที่ตั้งสินทรัพย์</label>
                                <input cFormControl  
                                    id="assetLocationInput"
                                    placeholder="ระบุสถานที่ตั้งสินทรัพย์"
                                    [(ngModel)]="asset.assetLocation" name="assetLocation"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'responsibleEmployeeInput')"
                                />
                            </div>
                        
                            <div class="col">
                                <label cLabel  for="responsibleEmployeeInput">พนักงานที่รับผิดชอบ</label>
                                <input cFormControl  
                                    id="responsibleEmployeeInput"
                                    placeholder="ระบุชื่อพนักงานที่รับผิดชอบ"
                                    [(ngModel)]="asset.responsibleEmployee" name="responsibleEmployee"
                                    type="text"
                                    (keypress)="handleKeyPress($event, 'documentNumberInput')"
                                />
                            </div>
                            
                        </div>
                        
                        <div class="row mb-3">
                            
                            <div class="col">
                                <label cLabel  for="documentNumberInput">เลขที่เอกสาร</label>
                                <input cFormControl  
                                    id="documentNumberInput"
                                    placeholder="ระบุเลขที่เอกสาร"
                                    [(ngModel)]="asset.documentNumber" name="documentNumber"
                                    type="text"
                                />
                            </div>
                                 
                            <div class="col">
                                <label cLabel  for="purchasePriceInput">ราคาซื้อ</label>
                                <input cFormControl  
                                    id="purchasePriceInput"
                                    placeholder="ระบุราคาซื้อ"
                                    [(ngModel)]="asset.purchasePrice" name="purchasePrice"
                                    type="number"
                                />
                            </div>
                            

                            
                            <div class="col">
                                <!-- <label cLabel  for="purchaseDateInput">วันที่ซื้อ</label>
                                <input cFormControl  
                                    id="purchaseDateInput"
                                    [(ngModel)]="asset.purchaseDate" name="purchaseDate"
                                    type="date"
                                /> -->
                            
                            <!-- [formControl]="asset.purchaseDate"  -->
                            <label cLabel  for="purchaseDateInput">อายุของสินทรัพย์</label>
                                <!-- <div class="input-group "> -->
                                    <!-- <input cFormControl   class="form-control"
                                    id="purchaseDateInput"
                                    [matDatepicker]="picker" 
                                    [(ngModel)]="asset.purchaseDate"
                                     name="purchaseDate"
                                    placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix 
                                        [for]="picker" class=" border rounded-1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker> -->

                                    <input cFormControl   class="form-control"
                                    id="purchaseDateInput"
                                    [(ngModel)]="asset.purchaseDate"
                                     name="purchaseDate"
                                     type="date"
                                    placeholder="Choose a date">
                                
                            </div>
                            <!-- </div> -->
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label cLabel  for="annotationInput">หมายเหตุ</label>
                                <input cFormControl  
                                    id="annotationInput"
                                    placeholder="ระบุหมายเหตุ"
                                    [(ngModel)]="asset.Note" name="Note"
                                    type="text"
                                />
                            </div>
                        </div>

                        <button cButton 
                        type="button" color="warning" class="m-1"
                        (click)="toggleHidden()" style="color: white;">เพิ่มข้อมูลเพิ่มเติม</button>

                        <div class="m-1" [style.display]="hidden ? 'none' : 'block'"><br/>

                            <div class="row mb-3">
                                <div class="col">
                                    <label cLabel  for="receiptDateInput">วันที่ได้รับ</label>
                                    <input cFormControl  
                                        id="receiptDateInput"
                                        type="date"
                                        disabled
                                    />
                                </div>
                                
                                <div class="col">
                                    <label cLabel  
                                    for="depreciationStartDateInput">วันที่เริ่มคิดค่าเสื่อม</label>
                                    <input cFormControl  
                                        id="depreciationStartDateInput"
                                        type="date"
                                        disabled
                                    />
                                </div>
                            
                                <div class="col">
                                    <label cLabel  
                                    for="depreciationCalculationStartDateInput">วันที่เริ่มคำนวณค่าเสื่อม</label>
                                    <input cFormControl  
                                        id="depreciationCalculationStartDateInput"
                                        type="date"
                                        disabled
                                    />
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                
                                <div class="col">
                                    <label cLabel  for="calculatedPriceInput">ราคาคำนวณ</label>
                                    <input cFormControl  
                                        id="calculatedPriceInput"
                                        placeholder="ระบุราคาคำนวณ"
                                        type="number"
                                        disabled
                                    />
                                </div>
                                <div class="col">
                                    <label cLabel  for="scrapPriceInput">ราคาขีดความสามารถใช้</label>
                                    <input cFormControl  
                                        id="scrapPriceInput"
                                        placeholder="ระบุราคาขีดความสามารถใช้"
                                        type="number"
                                        disabled
                                    />
                                </div>
                        
                                <div class="col">
                                    <label cLabel  for="depreciationRateInput">อัตราการคิดค่าเสื่อม</label>
                                    <div class="input-group ">
                                        <input cFormControl  
                                            id="depreciationRateInput"
                                            placeholder="ระบุอัตราการคิดค่าเสื่อม"
                                            type="number"
                                            disabled
                                        />
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label cLabel  for="assetAgeInput">อายุของสินทรัพย์</label>
                                    <input cFormControl  
                                        id="assetAgeInput"
                                        placeholder="ระบุอายุของสินทรัพย์"
                                        type="number"
                                        disabled
                                    />
                                </div>
                                
                                
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label cLabel  for="accumulatedDepreciationInput">ค่าเสื่อมสะสม</label>
                                    <input cFormControl  
                                        id="accumulatedDepreciationInput"
                                        placeholder="ระบุค่าเสื่อมสะสม"
                                        type="number"
                                        disabled
                                    />
                                </div>
                            
                                <div class="col">
                                    <label cLabel  for="depreciationValueInput">มูลค่าค่าเสื่อม</label>
                                    <input cFormControl  
                                        id="depreciationValueInput"
                                        placeholder="ระบุมูลค่าค่าเสื่อม"
                                        type="number"
                                        disabled
                                    />
                                </div>
                                
                                
                            <div class="col">
                                    <label cLabel  for="taxInvoiceNumberInput">เลขที่ใบกำกับภาษี</label>
                                    <input cFormControl  
                                        id="taxInvoiceNumberInput"
                                        placeholder="ระบุเลขที่ใบกำกับภาษี"
                                        type="text"
                                        disabled
                                    />
                                </div>
                            </div>

                        </div>

                        <button cButton type="submit" color="success" style="color: white;">Submit</button>
                        
                        
                        

                    </form>
                <!-- </app-docs-example> -->
                </c-card-body>
            </c-card>
        </mat-tab>
        <!-- this coreui-free-angular-admin-template\src\app\views\system\asset-detail1\system.component.html -->
        <mat-tab label="บันทึกครุภัณท์ 2" ><br/>
            <app-form-controls2></app-form-controls2>
        </mat-tab>
        

        <mat-tab label="บันทึกครุภัณท์ 3">
            <app-form-controls-3></app-form-controls-3>
        </mat-tab>
    </mat-tab-group>

    <form (submit)="onSubmit2()">
       <input type="file" (change)="importExcel($event)" /> 
       <button type="submit">Submit</button>
    </form>

    


    </c-card-body>
    
</c-card>