<c-card class="mb-3 shadow" style="border: none">
  <!-- <c-card-header>
    </c-card-header> -->
  <c-card-body>
    <h1><span class="anuphan-700">บันทึกรายการครุภัณท์</span></h1>
    <hr />

    <!-- <mat-tab-group> -->
    <!-- <mat-tab label="บันทึกครุภัณท์ 1"> -->
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div style="margin-right: auto">
        <p><span class="text-danger">*</span> จำเป็นต้องระบุ</p>
      </div>
      <p>
        นำเข้าข้อมูล :
        <button
          class="btn btn-success anuphan-600"
          type="button"
          (click)="openImport()"
          style="color: white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0,0,256,256"
            style="height: 22px"
          >
            <g
              fill="#ffffff"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <g transform="scale(5.12,5.12)">
                <path
                  d="M28.875,0c-0.01953,0.00781 -0.04297,0.01953 -0.0625,
                                    0.03125l-28,5.3125c-0.47656,0.08984 -0.82031,0.51172 -0.8125,1v37.3125c-0.00781,0.48828 0.33594,
                                    0.91016 0.8125,1l28,5.3125c0.28906,0.05469 0.58984,-0.01953 0.82031,-0.20703c0.22656,-0.1875 0.36328,
                                    -0.46484 0.36719,-0.76172v-5h17c1.09375,0 2,-0.90625 2,-2v-34c0,-1.09375 -0.90625,-2 -2,
                                    -2h-17v-5c0.00391,-0.28906 -0.12109,-0.5625 -0.33594,-0.75391c-0.21484,-0.19141 -0.50391,
                                    -0.28125 -0.78906,-0.24609zM28,2.1875v4.34375c-0.13281,0.27734 -0.13281,0.59766 0,
                                    0.875v35.40625c-0.02734,0.13281 -0.02734,0.27344 0,0.40625v4.59375l-26,-4.96875v-35.6875zM30,
                                    8h17v34h-17v-5h4v-2h-4v-6h4v-2h-4v-5h4v-2h-4v-5h4v-2h-4zM36,13v2h8v-2zM6.6875,15.6875l5.46875,
                                    9.34375l-5.96875,9.34375h5l3.25,-6.03125c0.22656,-0.58203 0.375,-1.02734 0.4375,
                                    -1.3125h0.03125c0.12891,0.60938 0.25391,1.02344 0.375,1.25l3.25,6.09375h4.96875l-5.75,
                                    -9.4375l5.59375,-9.25h-4.6875l-2.96875,5.53125c-0.28516,0.72266 -0.48828,1.29297 -0.59375,
                                    1.65625h-0.03125c-0.16406,-0.60937 -0.35156,-1.15234 -0.5625,-1.59375l-2.6875,-5.59375zM36,
                                    20v2h8v-2zM36,27v2h8v-2zM36,35v2h8v-2z"
                ></path>
              </g>
            </g>
          </svg>
          Excel
        </button>
      </p>
    </div>
    <c-card class="mb-4" style="border: none">
      <c-card-body>
        <c-card
          class="shadow-sm"
          [hidden]="hidden2"
          style="border-style: dotted; border-width: 3.5px"
        >
          <!-- <c-card-header>นำเข้ามูลในรูปแบบ Excel</c-card-header> -->
          <c-card-body>
            <form (submit)="onSubmit2()">
              <div class="row">
                <div class="col">
                  <input
                    cFormControl
                    type="file"
                    (change)="importExcel($event)"
                  />
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-success text-white" type="submit">
                    ดำเนินการ
                  </button>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>

        <br />

        <form cForm [formGroup]="asset" (ngSubmit)="autoInput(); onSubmit()">
          <div class="row mb-3">
            <div class="col">
              <label cLabel style="font-weight: bold" for="assetTypeInput"
                ><span class="text-danger">*</span> ประเภทครุภัณฑ์
              </label>
              <mat-select
                class="form-control"
                formControlName="assetType"
                panelClass="mat-select-panel"
                placeholder="เลือกหมวดหมู่ครุภัณฑ์"
                style="font-family: 'Anuphan', sans-serif; font-weight: 400"
              >
                <mat-option
                  class="anuphan-700"
                  *ngFor="let type of assetTypes"
                  [value]="type.assetCode"
                >
                  <span class="anuphan-600">{{ type.assetName }}</span>
                </mat-option>
              </mat-select>
            </div>

            <div class="col">
              <!-- หมวดหมู่ครุภัณฑ์ -->
              <div class="col">
                <label
                  cLabel
                  style="font-weight: bold"
                  for="assetCategoryInput"
                >
                  <span class="text-danger">*</span>
                  หมวดหมู่ครุภัณฑ์
                </label>
                <!-- <input
                  cFormControl
                  id="assetCategoryInput"
                  placeholder="ระบุหมวดหมู่ครุภัณฑ์"
                  formControlName="assetCategory"
                  type="text"
                  [hidden]="!showAssetCategoryInput"
                /> -->
                <mat-select
                  *ngIf="asset.get('assetType')?.value"
                  class="form-control"
                  formControlName="assetCategory"
                  placeholder="เลือกหมวดหมู่ครุภัณฑ์"
                  panelClass="mat-select-panel"
                  #singleSelect
                  style="font-family: 'Anuphan', sans-serif; font-weight: 400"
                  required
                >
                  <mat-option>
                    <ngx-mat-select-search
                      placeholderLabel="ค้นหาหมวดหมู่"
                      noEntriesFoundLabel="'ไม่พบข้อมูล'"
                      [formControl]="assetCategoryFilterCtrl"
                    ></ngx-mat-select-search>
                  </mat-option>

                  <mat-option
                    *ngFor="let category of filteredAssetCategories | async"
                    [value]="category.asc_Code"
                  >
                    <span class="anuphan-600">{{ category.asc_Name }}</span>
                  </mat-option>
                </mat-select>

                <mat-select
                  *ngIf="!asset.get('assetType')?.value"
                  class="form-control"
                  placeholder="เลือกหมวดหมู่ครุภัณฑ์"
                  panelClass="mat-select-panel"
                  #singleSelect
                  style="font-family: 'Anuphan', sans-serif; font-weight: 400"
                  required
                  disabled="true"
                >
                </mat-select>
              </div>
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="purchaseDateInput"
                >วันเดือนปีที่ได้มา</label
              >
              <input
                cFormControl
                class="form-control"
                id="purchaseDateInput"
                formControlName="purchaseDate"
                type="date"
                placeholder="Choose a date"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="assetCodeInput">
                <span class="text-danger">*</span> รหัสครุภัณฑ์ (แก้ได้ -001-)
              </label>
              <input
                cFormControl
                id="assetCodeInput"
                placeholder="ระบุรหัสครุภัณฑ์"
                formControlName="assetCode"
                pattern=" \d{4}-\d{2}-\d{4}"
                type="text"
                (input)="handleInput($event)"
                (keydown)="handleKeyDown($event)"
                (keypress)="handleKeyPress($event, 'assetNameInput')"
              />
            </div>
          </div>

          <!-- ######## line 1 ############ -->
          <div class="row mb-3">
            <!-- <div class="col">
            <label cLabel style="font-weight: bold;" 
              for="quantityInput">จำนวน(ระบบเซตค่า 1 )</label>
            <input
              cFormControl
              id="quantityInput"
              placeholder="ระบุจำนวน"
              formControlName="quantity"
              type="number"
              [hidden]="true"
              (keypress)="handleKeyPress($event, 'purchasedFromInput')"
              readonly
            />
            </div> -->

            <div class="col">
              <label cLabel style="font-weight: bold" for="assetNameInput">
                <span class="text-danger">*</span> ชื่อครุภัณฑ์</label
              >
              <input
                cFormControl
                id="assetNameInput"
                placeholder="ระบุชื่อ/ลักษณะ/ยี่ห้อ ครุภัณฑ์"
                formControlName="assetName"
                type="text"
                (keypress)="handleKeyPress($event, 'quantityInput')"
                required
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="assetLocationInput">
                <span class="text-danger">*</span>
                สถานที่ตั้งครุภัณฑ์
              </label>
              <input
                cFormControl
                id="assetLocationInput"
                placeholder="ระบุสถานที่ตั้งครุภัณฑ์"
                formControlName="assetLocation"
                type="text"
                (keypress)="handleKeyPress($event, 'EmployeeInput')"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="EmployeeInput">
                <span class="text-danger">*</span> พนักงานที่รับผิดชอบ
              </label>
              <input
                cFormControl
                id="EmployeeInput"
                placeholder="ระบุชื่อพนักงานที่รับผิดชอบ"
                formControlName="responsibleEmployee"
                type="text"
                (keypress)="handleKeyPress($event, 'documentNumberInput')"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="documentNumberInput"
                >เลขที่เอกสาร <span style="opacity: 50%">(ถ้ามี)</span></label
              >
              <input
                cFormControl
                id="documentNumberInput"
                placeholder="ระบุเลขที่เอกสาร"
                formControlName="documentNumber"
                type="text"
              />
            </div>
          </div>

          <!-- ######## line 2 ############ -->
          <div class="row mb-3">
            <div class="col">
              <label cLabel style="font-weight: bold" for="purchasePriceInput"
                ><span class="text-danger">*</span>ราคาซื้อ</label
              >
              <input
                cFormControl
                id="purchasePriceInput"
                placeholder=".00"
                formControlName="purchasePrice"
                type="number"
                step="0.01"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="purchasedFromInput"
                >ซื้อจาก</label
              >
              <input
                cFormControl
                id="purchasedFromInput"
                placeholder="ระบุสถานที่ที่ซื้อ"
                formControlName="purchasedFrom"
                type="text"
                (keypress)="handleKeyPress($event, 'assetTypeInput')"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="unitInput"
                >หน่วยนับ</label
              >
              <input
                cFormControl
                id="unitInput"
                placeholder="ระบุหน่วยนับ"
                formControlName="unit"
                type="text"
                readonly
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="receiptDateInput"
                ><span class="text-danger">*</span> วันที่ได้รับ
                <span style="opacity: 50%">(ใช้คำนวณค่าเสื่อม)</span></label
              >
              <input
                cFormControl
                id="receiptDateInput"
                type="date"
                formControlName="ReceiptDate"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="annotationInput"
                >หมายเหตุ <span style="opacity: 50%">(ถ้ามี)</span></label
              >
              <input
                cFormControl
                id="annotationInput"
                placeholder="ระบุหมายเหตุ"
                formControlName="Note"
                type="text"
              />
            </div>

            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="taxInvoiceNumberInput"
                >เลขที่ใบกำกับภาษี
                <span style="opacity: 50%">(ถ้ามี)</span></label
              >
              <input
                cFormControl
                id="taxInvoiceNumberInput"
                placeholder="ระบุเลขที่ใบกำกับภาษี"
                type="text"
                formControlName="TaxInvoiceNumber"
              />
            </div>
          </div>

          <div class="mb-3 p-1">
            <div class="hr-with-text">
              <hr />
              <span>ระบบดำเนินการให้</span>
              <hr />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <!-- agency -->
              <label cLabel style="font-weight: bold" for="agencyInput">
                <span class="text-danger">*</span> หน่วยงาน / สำนักงาน
              </label>

              <input
                cFormControl
                id="agencyInput"
                placeholder="ระบุหน่วยหน่วยงาน"
                formControlName="agency"
                type="text"
                (keypress)="handleKeyPress($event, 'assetLocationInput')"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="departmentInput">
                <span class="text-danger">*</span>
                ฝ่าย
              </label>

              <input
                cFormControl
                id="departmentInput"
                placeholder="ระบุแผนก"
                formControlName="department"
                type="text"
                (keypress)="handleKeyPress($event, 'assetLocationInput')"
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="quantityInput"
                >จำนวน</label
              >
              <input
                cFormControl
                id="quantityInput"
                placeholder="ระบุจำนวน"
                formControlName="quantity"
                type="number"
                readonly
              />
            </div>

            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="depreciationStartDateInput"
                >วันที่เริ่มคิดค่าเสื่อม</label
              >
              <input
                cFormControl
                id="depreciationStartDateInput"
                type="date"
                formControlName="DepreciationStartDate"
                readonly
              />
            </div>

            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="depreciationCalculationStartDateInput"
              >
                วันที่เริ่มคำนวณค่าเสื่อม</label
              >
              <input
                cFormControl
                id="depreciationCalculationStartDateInput"
                formControlName="DepreciationCalculationStartDate"
                type="date"
                readonly
              />
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="calculatedPriceInput"
                >ราคาคำนวณ</label
              >
              <input
                cFormControl
                id="calculatedPriceInput"
                formControlName="CalculatedPrice"
                placeholder="ระบุราคาคำนวณ"
                type="number"
                readonly
              />
            </div>
          </div>

          <!-- <div class="row mb-3">
          </div> -->

          <div class="row mb-3">
            <div class="col">
              <label cLabel style="font-weight: bold" for="scrapPriceInput"
                >ราคาขีดความสามารถใช้</label
              >
              <input
                cFormControl
                id="scrapPriceInput"
                placeholder="ระบุราคาขีดความสามารถใช้"
                type="number"
                disabled
              />
            </div>

            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="depreciationRateInput"
                >อัตราการคิดค่าเสื่อม</label
              >
              <div class="input-group">
                <input
                  cFormControl
                  id="depreciationRateInput"
                  placeholder="ระบุอัตราการคิดค่าเสื่อม"
                  type="number"
                  formControlName="DepreciationRate"
                />
              </div>
            </div>

            <div class="col">
              <label cLabel style="font-weight: bold" for="assetAgeInput"
                >อายุของครุภัณฑ์</label
              >
              <input
                cFormControl
                id="assetAgeInput"
                placeholder="ระบุอายุของครุภัณฑ์"
                type="number"
                disabled
              />
            </div>
            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="accumulatedDepreciationInput"
                >ค่าเสื่อมสะสม</label
              >
              <input
                cFormControl
                id="accumulatedDepreciationInput"
                placeholder="ระบุค่าเสื่อมสะสม"
                type="number"
                disabled
              />
            </div>

            <div class="col">
              <label
                cLabel
                style="font-weight: bold"
                for="depreciationValueInput"
                >มูลค่าค่าเสื่อม</label
              >
              <input
                cFormControl
                id="depreciationValueInput"
                placeholder="ระบุมูลค่าค่าเสื่อม"
                type="number"
                disabled
              />
            </div>

            <div class="col align-self-end">
              <button
                cButton
                class="anuphan-600"
                type="submit"
                color="success"
                style="color: white"
              >
                ดำเนินการ
              </button>
            </div>
          </div>

          <!-- <div class="row mb-3"></div> -->

          <!-- <div class="row mb-3">
            
          </div> -->

          <!-- <button cButton class="anuphan-600" type="submit" color="success"  style="color: white;">ดำเนินการ</button> -->
        </form>
      </c-card-body>
    </c-card>
    <!-- </mat-tab> -->

    <!-- this coreui-free-angular-admin-template\src\app\views\system\asset-detail1\system.component.html -->
    <!-- <mat-tab label="บันทึกครุภัณท์ 2"><br />
                <app-form-controls2></app-form-controls2>
            </mat-tab> -->

    <!-- <mat-tab label="บันทึกครุภัณท์ 3">
                <app-form-controls-3></app-form-controls-3>
            </mat-tab> -->

    <!-- </mat-tab-group> -->
  </c-card-body>
</c-card>

<c-card
  *ngIf="this.asset.get('assetType')?.value === '004'"
  class="mb-3 shadow"
  style="border: none"
>
  <c-card-body>
    <h1>
      <span class="anuphan-700"
        >บันทึกรายการเพิ่มเติมสำหรับ ครุภัณฑ์คอมพิวเตอร์</span
      >
    </h1>
    <hr />
    <app-form-controls2></app-form-controls2>
  </c-card-body>
</c-card>
